@import url('/css/normalize.css');
@font-face {
  font-family: 'EB Garamond';
  src: url('../EBGaramond-Medium.ttf');
}
body {
  background-color: #1f1a19;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.4em;
}
.ja body {
  line-height: 1.6em;
}
@media screen and (min-width: 30rem) {
  body {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 42rem) {
  body {
    font-size: 1.2rem;
  }
}
h1,
h2,
h3,
h4 {
  font-family: 'EB Garamond', Georgia, serif;
  line-height: 1em;
  font-weight: 500;
}
h1 {
  font-size: 3em;
}
.container {
  width: calc(100% - 2rem);
  max-width: 64rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1rem;
}
main > header {
  width: 100%;
  background-color: #4b080b;
  position: relative;
}
main > header .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  transition: opacity 1s ease, background-position 13s linear;
  background-repeat: no-repeat;
  opacity: 1;
}
main > header .slide.fade-out {
  opacity: 0;
}
main > header .slide.landscape {
  background-size: auto 125vh;
}
@media screen and (min-width: 48rem) {
  main > header .slide.landscape {
    background-size: 125vw auto;
  }
}
main > header .slide.portrait {
  background-size: 125vw auto;
}
main > header .container {
  position: relative;
  height: 100vh;
  z-index: 20;
}
@media (horizontal-viewport-segments: 2) {
  main > header .container {
    width: 50%;
    margin-right: 50%;
  }
}
#mainLogo {
  text-align: center;
}
#mainLogo h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainLogo h2 {
  color: #d8c39c;
  font-size: 3em;
  margin: 0;
  position: relative;
  top: -4rem;
  z-index: 11;
  text-shadow: 0 0 0.5rem #1f1a19;
}
#mainLogo img {
  width: 70%;
  max-width: 6em;
  padding: 2rem;
  position: relative;
  z-index: 2;
  background: radial-gradient(circle, rgba(75, 8, 11, 0.5) 0%, rgba(75, 8, 11, 0.5) 20%, rgba(75, 8, 11, 0) 60%);
}
@media screen and (min-width: 40rem) {
  #mainLogo img {
    max-width: 8em;
  }
}
#mainLogo .extra-shadow {
  background: radial-gradient(circle, rgba(75, 8, 11, 0.5) 0%, rgba(75, 8, 11, 0) 60%);
  display: block;
  width: 22rem;
  height: 16rem;
  position: absolute;
  margin-top: 21rem;
  z-index: 1;
}
#contact {
  background-color: #4b080b;
  color: #d8c39c;
  padding: 5rem 2rem;
}
@media (horizontal-viewport-segments: 2) {
  #contact .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;
  }
}
#contact .container .links {
  grid-column: 1 / 1;
}
#contact .container .disclaimer {
  grid-column: 2 / 2;
  grid-row: 1 / span 2;
}
#contact h1 {
  text-align: center;
}
#contact h1,
#contact p {
  margin: 0 0 1em;
}
#contact p {
  max-width: 35rem;
  text-align: center;
}
@media screen and (min-width: 40rem) {
  #contact p {
    text-align: left;
  }
}
#contact a {
  color: #d8c39c;
  text-decoration: none;
}
#contact a:hover {
  text-decoration: underline;
}
#about {
  background-color: #d8c39c;
  color: #d8c39c;
  position: relative;
  z-index: 1;
}
#about.w-image {
  background-image: url('../images/paper.webp');
}
#about .pattern {
  background-size: 60vw 60vw;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  opacity: 0.9;
}
@media screen and (min-width: 64rem) {
  #about .pattern {
    background-size: 620px 620px;
  }
}
#about .pattern.w-image {
  background-image: url('../images/pattern.png');
}
#about .container {
  min-height: 80vh;
  max-width: 40rem;
  position: relative;
  z-index: 3;
}
#about .text-group {
  background-color: #d8c39c;
  color: #4b080b;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 2rem;
}
#about .text-group.w-image {
  background-image: url('../images/paper.webp');
}
@media screen and (min-width: 48rem) {
  .ja #about .text-group {
    writing-mode: vertical-rl;
    max-height: 34rem;
    height: 60vh;
    min-height: 22rem;
  }
}
@media screen and (min-width: 40rem) {
  #about .text-group {
    padding: 2rem 4rem;
  }
}
.ja #about h1 {
  margin: 0;
}
.menu-group {
  color: #d8c39c;
}
.menu-group .container {
  max-width: 92rem;
}
.menu-group .container h1 {
  margin: 2em 0 1em;
}
.menu-group .container aside {
  max-width: 36rem;
  text-align: left;
}
.menu-group .container > ul {
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}
@media screen and (min-width: 40rem) {
  .menu-group .container > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 64rem) {
  .menu-group .container > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 82rem) {
  .menu-group .container > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
.menu-group .container > ul > li {
  margin: 2rem 0.5rem;
  display: flex;
  box-shadow: 0px 0px 1em rgba(0, 0, 0, 0);
  overflow: hidden;
  border-radius: 1rem;
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1;
}
.menu-group .container > ul > li:hover,
.menu-group .container > ul > li:focus {
  transform: scale3d(1.1, 1.1, 1);
  box-shadow: 0px 0px 1em #000000;
  z-index: 2;
}
.menu-group .container > ul > li .popular {
  display: flex;
  background-color: #e45d0f;
  color: #d8c39c;
  padding: 0.25rem 3rem;
  position: absolute;
  right: -3rem;
  rotate: 45deg;
  top: 2.5rem;
  min-width: 7rem;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 0.25rem rgba(31, 26, 25, 0.5);
  box-shadow: 0px 0.15rem 0.5rem rgba(31, 26, 25, 0.75);
}
.ja .menu-group .container > ul > li .popular {
  font-size: 1.2em;
  font-weight: 600;
}
.menu-group .container > ul > li figure {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  background-color: #352724;
  border: 2px solid #1f1a19;
  text-shadow: 0px 0px 0.5rem #1f1a19;
}
.menu-group .container > ul > li figure img {
  width: 100%;
}
.menu-group .container > ul > li figure ul {
  padding-left: 1.5rem;
  list-style-type: disc;
}
.menu-group .container > ul > li figure figcaption {
  margin: 1rem;
  min-width: 15rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.menu-group .container > ul > li figure figcaption > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-group .container > ul > li figure figcaption a.button {
  background-color: #e45d0f;
  color: #1f1a19;
  text-shadow: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  min-width: 10rem;
  text-decoration: none;
  margin: 0 auto 1.5rem auto;
}
.menu-group .container > ul > li figure figcaption h3 {
  text-align: center;
  font-size: 1.5em;
}
.menu-group .container > ul > li figure figcaption h4 {
  margin: 0 0 0.5rem 0;
}
.menu-group .container > ul > li figure figcaption h4 em {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8em;
}
.menu-group .container > ul > li figure figcaption aside {
  align-self: flex-end;
  margin-top: 1rem;
}
#aboutDiana {
  background: #09c9ed;
  background: radial-gradient(circle, #09c9ed 16%, #0d77a9 72%);
  padding: 5rem 0;
  color: white;
  text-shadow: 0.05em 0.05em 0.25em #0d77a9;
}
#aboutDiana .container {
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  #aboutDiana .container {
    flex-direction: row;
  }
}
#aboutDiana .container figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 48rem) {
  #aboutDiana .container figure {
    margin-right: 4rem;
  }
}
#aboutDiana .container figure img {
  width: 90%;
  max-width: 25rem;
  box-shadow: 0.25rem 0.25rem 1rem #0d77a9;
  border: 1rem solid white;
}
@media screen and (min-width: 48rem) {
  #aboutDiana .container figure img {
    max-height: 36rem;
    border: 3rem solid white;
  }
}
#aboutDiana .container figure figcaption {
  text-align: center;
  margin: 1rem 0;
}
#aboutDiana .container .text-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 48rem) {
  #aboutDiana .container .text-group {
    text-align: left;
    align-items: flex-start;
  }
}
.ja #aboutDiana .container .text-group {
  text-align: left;
}
#aboutDiana .container .text-group h1,
#aboutDiana .container .text-group p {
  margin: 0.25em 2rem 1em;
}
#aboutDiana .container .text-group p {
  max-width: 35rem;
}
#backToTop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  padding: 0 0 0 1rem;
  margin: 0;
  position: fixed;
  bottom: 3rem;
  left: -10rem;
  background-color: #d8c39c;
  color: #4b080b;
  z-index: 100;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  outline: none;
  border: none;
  text-align: center;
  font-size: 0.8rem;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 1rem rgba(75, 8, 11, 0.5);
  transition: left 0.3s ease-out;
}
#backToTop:hover {
  cursor: pointer;
}
.ja #backToTop {
  width: 10rem;
}
#backToTop span {
  padding: 0 0.5rem;
}
#backToTop.show {
  left: 0rem;
}
#backToTop svg {
  color: #4b080b;
  width: 2rem;
  height: auto;
}
#lang a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 3rem;
  background-color: #d8c39c;
  color: #4b080b;
  z-index: 100;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: fixed;
  top: -5rem;
  right: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(75, 8, 11, 0.5);
  transition: top 0.3s ease-out;
}
#lang a.show {
  top: 0rem;
}
